<h1>Projects</h1>

<% if @auto_reload_flag %>
	<script>
	$(function(){
		setTimeout(function(){
			location.reload(true)	
		},5000);
	});
	</script>
<% end %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Owner</th>
      <th>Status</th>
      <th colspan="4">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><%= project.username %></td>
        <% if project.status==1 %>
			<td> Available </td>
			<td><%= link_to 'Annotation', "/workspaces/show?project_id=#{project.id}&project=#{project.name}" ,data: { no_turbolink: true } %></td>
		<% else %>
			<td> Pending </td>
        <td>Annotation</td>
		<% end %>
        <td><%= link_to 'Label', "/projects/"+project.id.to_s+"/edit_labels" %></td>
        <td><%= link_to 'Info', project %></td>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path %>
